name: Build & Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: dotnet/nbgv@master
        id: nbgv

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - run: dotnet restore --no-cache src/ tests/
      - run: dotnet build --no-restore -c Release src/ tests/
      - run: dotnet test --no-build -c Release src/ tests/
