name: Sample

on:
  push:
    branches: [master]
    paths:
      - 'sample/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        use-project-references: [true, false]

    name: build (UseProjectReferences=${{ matrix.use-project-references }})

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - run: dotnet restore -p:UseProjectReferences=${{ matrix.use-project-references }}
        working-directory: sample

      - run: dotnet build --no-restore -c Release -p:UseProjectReferences=${{ matrix.use-project-references }}
        working-directory: sample
